.container-fluid {
    margin-bottom: 6%
}

#profile .headpoint {
    font-size: 30px;
    margin-top: 50px;
    color: #fff;
    line-height: 1.2
}

#quote-carousel {
    padding: 0 10px 30px;
    margin-top: 30px
}

#quote-carousel .carousel-control {
    background: 0 0;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 40px
}

#quote-carousel .carousel-indicators {
    right: 50%;
    top: 0 auto;
    bottom: 0;
    margin-right: -19px
}

#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: .4;
    overflow: hidden;
    transition: all .4s
}

#quote-carousel .carousel-indicators .active {
    background: #333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #3281ff;
    opacity: 1;
    overflow: hidden
}

.carousel-inner {
    min-height: 300px;
    color: #E0E0E0;
    width: 100%;
    padding-bottom: 120px
}

.item blockquote {
    border-left: none;
    margin: 0
}

@media screen and (max-width:768px) {
    .headpoint {
        font-size: 36px;
        margin-top: 45%
    }

    #subpoint {
        font-size: 18px;
        letter-spacing: 2px
    }

    .v-thumbnail {
        width: 100%;
        margin: 0 auto;
        box-shadow: 10px 9px 5px 5px #2a3b4c
    }

    .carousel-indicators {
        position: absolute;
        bottom: 10px;
        left: 40%;
        z-index: 15;
        width: 80%;
        text-align: center;
        list-style: none;
        float: left
    }

    #quote-carousel .carousel-indicators {
        top: 76%
    }

    #quote-carousel .carousel-indicators .active {
        background: #333;
        width: 70px;
        height: 70px;
        border-radius: 100px;
        border-color: #3281ff;
        opacity: 1;
        overflow: hidden
    }

    #quote-carousel .carousel-indicators li {
        width: 40px;
        height: 40px;
        cursor: pointer;
        border: 4px solid #CCC;
        border-radius: 50px;
        opacity: .4;
        overflow: hidden;
        transition: all .4s
    }

    .carousel-inner {
        padding-bottom: 50px
    }
}

@media screen and (max-width:360px) {
    #quote-carousel .carousel-indicators {
        top: 0 auto
    }

    .carousel-inner {
        padding-bottom: 120px
    }
}

@media screen and (min-width:1024px) {
    #quote-carousel .carousel-indicators {
        top: 60%
    }
}

@media screen and (min-width:320px) and (max-width:414px) {
    .about h1 {
        margin-top: 50px !important
    }

    .carousel-inner {
        padding-bottom: 120px
    }
}