.artikel {
    padding-top: 8%;
    padding-bottom: 2%;
    margin-top: 15%;
    margin-bottom: -15%;
    background-color: #2b3342
}

.artikel h1 {
    margin-bottom: 3%;
    color: #fff
}

.containerartikel {
    max-width: 1111px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    width: 100%;
    display: flex;
    font-family: "Century Gothic";
    text-align: justify
}

.containerDivide {
    width: 100%;
    margin: 16px
}

.headerartikel {
    width: 100%;
    position: relative;
    text-align: left
}

.headerartikel img {
    height: 250px !important
}

.middleButton h5 {
    text-align: right;
    padding-right: 18px;
    font-size: 15px
}

.headerartikel h3 {
    position: absolute;
    z-index: 99;
    bottom: 0;
    color: #fff;
    font-weight: 700;
    padding: 18px;
    text-shadow: 2px 2px 6px #000
}

.artikelContent {
    width: 100%;
    position: relative;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(125, 125, 125, .5)
}

.artikelContent:hover {
    box-shadow: 0 5px 30px rgba(125, 125, 125, .5);
    cursor: grab
}

.artikelContent:active {
    box-shadow: 0 5px 30px rgba(125, 125, 125, .5);
    cursor: grabbing
}

.artikelContent p {
    color: #3a3a3a;
    padding: 20px;
    margin-bottom: 15px
}

.artikelContent img {
    width: 100%;
    height: auto;
    filter: brightness(70%);
    top: 0;
    opacity: 1;
    border-radius: 10px 10px 0 0;
    backface-visibility: hidden
}

@media only screen and (max-width:960px) {
    .containerartikel {
        width: 95%;
        max-width: 996px;
        margin: 0 auto;
        display: block;
        font-family: "Century Gothic";
        text-align: justify
    }

    .containerDivide {
        margin: 0
    }

    .artikelContent {
        margin-top: 20px;
        margin-left: 0
    }
}