@font-face {
  font-family: 'Lemon Milk';
  src: url('../../font/LemonMilklight.otf');
  font-display: block;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../../font/GOTHIC.TTF');
  font-display: block;
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../font/gothammedium.otf');
  font-display: block;
}
