.hero-image {
    top: 0;
    min-height: 650px;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../../images/landingPage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.garis {
    height: 5px;
    background-color: #fff;
    width: 100%
}

.hero-image h1 {
    font-family: 'Lemon Milk';
    font-size: 60px;
    text-decoration: dotted
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff
}

.hero-text i {
    font-size: 40px;
    font-family: 'Century Gothic'
}

blockquote {
    border-left: none
}