.brand>a>img,
.brand>img {
    margin-top: 5px;
    max-width: 150px;
    max-height: 80px;
    margin-bottom: 5px;
    display: block
}

.brand:focus,
.brand:hover,
.navbar a,
.navbar a:active,
.navbar a:hover,
.topnav a {
    text-decoration: none
}

.brand,
.topnav a {
    float: left;
    font-size: 20px
}

.sidenav,
.topnav,
div.borderXwidth a:before {
    left: 0;
    top: 0
}

.navbar a {
    font-family: gotham
}

.brand>a>img,
.brand>img {
    float: left
}

.container-navbar {
    padding-right: 30px;
    padding-left: 30px;
    height: 0 auto
}

.topnav {
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 1000;
    background: #2b3342;
    overflow: hidden;
    transition: .5s;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0;
    box-shadow: 0 5px 20px rgba(125, 125, 125, .2)
}

.topnav a {
    height: 100%;
    margin: 0;
    line-height: 3;
    display: block;
    color: #000;
    text-align: center;
    padding: 8px;
    position: relative;
    transition: .3s;
    cursor: pointer;
    z-index: 0 !important
}

a .brand {
    float: none
}

.pull-right {
    float: right !important;
    text-align: right !important
}

.pull-left {
    float: left !important
}

.navbar .active {
    background-color: #fff;
    text-decoration: none !important
}

.navbar a:hover {
    color: #fff;
    text-decoration: none !important
}

.nav-fixed-top {
    position: fixed;
    right: 0;
    left: 0
}

.topnav .icon {
    display: none
}

@media screen and (max-width:768px) {
    .pull-right a {
        display: none
    }

    .brand img {
        margin: 0
    }

    .topnav {
        padding-left: 10px
    }

    .topnav a.icon {
        transition: all .3s ease-in;
        display: block;
        right: 20px;
        top: 0;
        position: absolute
    }

    .topnav a.icon>svg>path {
        float: right
    }

    .container {
        padding: 0;
        float: inherit
    }

    div.circleBehind a:after,
    div.circleBehind a:before {
        display: none
    }
}

div.borderXwidth a:after,
div.borderXwidth a:before {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 2px;
    content: '';
    background: #fff;
    transition: .35s all
}

div.borderXwidth a:after {
    right: 0;
    bottom: 0
}

div.borderXwidth a:hover:after,
div.borderXwidth a:hover:before {
    opacity: 1;
    width: 100%
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    background-color: #2b3342;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: .3s
}

.sidenav a:hover {
    color: #f1f1f1
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px
}

@media screen and (max-height:450px) {
    .sidenav {
        padding-top: 15px
    }

    .sidenav a {
        font-size: 18px
    }
}