.tembagapura {
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
}

.tembagapura .col-sm-6 {
    margin: 0;
    padding: 0;
    border: 0;
}

.tembagapura .row {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
}

.tembagapura img {
    border-radius: 20px 0px 0px 20px;
    filter: brightness(65%);
    background-position: center;
    background-size: cover;
}

.tembagapura img:hover {
    filter: brightness(100%);
}

.tembagapura .konten {
    padding: 30px;
}

.tembagapura h1 {
    text-align: center;
    margin-bottom: 3%;
    color: white
}

.tembagapura h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Century Gothic';
    font-weight: 900;
}

.tembagapura p {
    margin-top: 50px;
    line-height: 1.5;
    text-align: justify;
    font-size: 17px;
    font-family: 'Gotham';
    color: grey;
}

.tembagapura button {
    float: right;
    border-radius: 4px;
    background: #636E81;
    border: none;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 120px;
    cursor: pointer;
    font-family: 'gotham';
}

.tembagapura button:hover{
    background: rgb(34, 34, 34);
}

.tembagapura .modal-content p{
   margin-top : 10px;
   padding-left: 20px;
   padding-right: 20px;
}

.tembagapura .modal-dialog{
    width: 80%;
}

.tembagapura .tembagapura-galeri{
    height: auto;
    display: flex;
    overflow-x: scroll;
    margin-top : 20px;
}

.tembagapura .tembagapura-galeri img{
    border-radius: 0px;
    filter: brightness(100%);
}

@media screen and (min-width: 320px) and (max-width: 414px){
    .tembagapura h2{
        margin-top: 2px;
    }

    .tembagapura .modal-dialog{
        width: 95%!important;
    }

    .tembagapura p{
        text-align: center;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .tembagapura .col-sm-6{
        display: block;
        width: 100%;
        background: white;
        border-radius: 20px;
    }

    .tembagapura img {
        height: 40%;
        border-radius: 20px 20px 0px 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1330px) {
    
    .tembagapura p{
        text-align: center;
        padding-bottom: 20px;
    }

    .tembagapura .row{
        margin-right: 10%;
        margin-left: 10%;
    }
    
    .tembagapura .col-sm-6{
        display: block;
        width: 100%;
        background: white;
        border-radius: 20px;
    }

    .tembagapura img {
        height: 30%;
        border-radius: 20px 20px 0px 0px;
    }
}