.wilayah {
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 5%;
    margin-top: 8%;
    background: #2b3342;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.wilayah h4 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.wilayah h5 {
    font-size: 16px;
    font-family: 'Lemon Milk'
}

.wilayah p {
    margin-top: 15px;
}

.headerWilayah {
    padding-bottom: 2%;
    margin-bottom: 3%;
    border-bottom: 2px solid white;
    text-align: center;
}

.headerWilayah h2 {
    font-weight: 600;
    font-size: 30px;
    font-family: 'Lemon Milk';
}

.headerWilayah img {
    margin-bottom: 10px;
}

.tablink1 {
    border-right: 2px solid white !important;
    border-bottom-left-radius: 15px;
    background: #2b3342;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
    border-top: 2px solid white !important
}

.tablink2 {
    border-bottom-right-radius: 15px;
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
    border-top: 2px solid white !important
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    background: #2b3342;
    color: white;
    padding: 10px 30px 40px 30px;
    display: grid;
}

.tabcontent2 {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    background: #2b3342;
    color: white;
    padding: 10px 30px 40px 30px;
    display: none;
}

.col-sm-3 img {
    margin-top: 8%;
}

.col-sm-9 p {
    text-align: justify;
    line-height: 1.5;
}

.readmorePabar {
    display: none;
}

.readmorePabar p {
    text-decoration: underline;
    cursor: pointer;
}

.readmorePapua {
    display: none;
}

.readmorePapua p {
    text-decoration: underline;
    cursor: pointer;
}

.morePapua {
    display: none;
}

.morePapuaBarat {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .col-sm-3 img {
        width: 150px;
        margin-left: 0;
    }
}

@media screen and (max-width: 414px) {
    .col-sm-3 img {
        margin-top: 8%;
    }
    .col-sm-9 p {
        margin-left: -10px;
    }
}

@media screen and (min-width: 320px) and (max-width: 414px) {
    .wilayah {
        margin-bottom: 25%;
    }
    .headerWilayah h2 {
        text-align: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .readmorePabar {
        display: inline;
    }
    .hidePapuaBarat {
        display: none;
    }
    .readmorePapua {
        display: inline;
    }
    .hidePapua {
        display: none;
    }
}

@media screen and (min-width: 500px) {
    .readmorePabar {
        display: none;
    }
    .readmorePapua {
        display: none;
    }
}